<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://serverlessfooddeliveryfunctionapprestaurants20210126095939.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/47890177-f72f-4b94-85b0-d3f1d645f1c7/resourcegroups/food-delivery-app-rg/providers/Microsoft.Web/sites/ServerlessFoodDeliveryFunctionAppRestaurants20210126095939</ResourceId>
    <UserName>$ServerlessFoodDeliveryFunctionAppRestaurants20210126095939</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://serverlessfooddeliveryfunctionapprestaurants20210126095939.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>